__pycache__
/samples/java-maven/target/
/.idea/
/samples/clojure-lein/target/
/samples/clojure-lein/.lein-failures
/samples/clojure-lein/clojure-lein.iml
/samples/clojure-lein/.idea/
/data/
*.pyc
/samples/java-ant/.idea/
/samples/java-ant/java-ant.iml
/samples/java-ant/downloads/
/samples/java-ant/lib/
/samples/java-ant/out/
/samples/java-ant/build/
/build-plugins/maven-ci-speed-sample/.idea/
/build-plugins/maven-ci-speed/target/
