flask-restx == 1.1.0
flask-marshmallow == 0.15.0
flask-sqlalchemy == 3.0.5
flask-cors == 4.0.0
flask == 2.3.3
gunicorn == 21.2.0
honcho == 1.1.0
xmltodict == 0.13.0
marshmallow-sqlalchemy == 0.29.0
psycopg2-binary == 2.9.7
Flask-Migrate == 4.0.4
Flask-Dance == 7.0.0
Flask-Security-Too == 5.3.0
email-validator == 2.0.0.post2
yarl == 1.9.2

#dev includes
flake8 == 6.1.0
invoke == 2.2.0
black == 23.7.0
pytest == 7.4.0
pytest-cov == 4.1.0
pytest-mock == 3.11.1
